.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 80px;
}

.botoes{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 470px;
    gap: 20px;
}

.button{
    font-size: 30px;
    padding: 10px;
}

@media (max-width: 640px){
    .titulo{
        margin-top: 100px;
        gap: 30px;
        text-align: center;
    }
    h1{
        max-width: 206px;
        height: 112px;
        margin-top: 30px;
        font-size: 25px;
    }
    h2{
        width: 300px;
        height: 36px;
        margin-top: 30px;
        font-size: 15px;
    }
    .botoes{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 40px;
        gap: 10px;
    }
    .button{
        width: 100%;
        height: 50px;
        font-size: 15px;
        border: rgb(99, 25, 117) solid 2px;
        border-radius: 5px;
        box-shadow: black 3px 3px 3px;
        margin-bottom: 15px;
        align-self: center;
    }
}